<div class="container">

	<div *ngIf="!assignatura">
		<p>Loading ...</p>
	</div>

	<div *ngIf="assignatura">

		<br>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
				<li class="breadcrumb-item" ><a routerLink="/assignatures/" routerLinkActive="active">Assignatures</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ assignatura.nom }}</li>
			</ol>
		</nav>

		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="mt-3">
					<div class="list-group">
						<a 
						class="list-group-item list-group-item-action"
						(click)="menuSelection = 'general'">
							General
						</a>

						<a 
						class="list-group-item list-group-item-action"
						(click)="menuSelection = 'proves'">
							Proves
						</a>

						<a 
						class="list-group-item list-group-item-action"
						(click)="menuSelection = 'alumnes'">
							Alumnes
						</a>

						<!-- <a 
						class="list-group-item list-group-item-action"
						(click)="menuSelection = 'avaluacio'">
							Avaluació
						</a> -->

					</div>
				</div>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9">
				<div class="mt-3">
					<!-- Edit button -->
					<button 
					type="button" 
					class="btn btn-success float-right"
					routerLink="/assignatures/{{ id }}/edit" 
					routerLinkActive="active">
					Guardar
					</button>

					<!-- FORM -->

					<!-- 1. General -->
					<app-assignatures-update-detail 
					[assignatura] ='assignatura'
					[menuSelection] ='menuSelection'>Loading ...
					</app-assignatures-update-detail>


					<!-- 				
					<div class="mt-3">
						<h2>General</h2>
						<hr>
					</div>

					<dl class="form-group">
						<dt>
							<label class="form-label" for="nom-assignatura">Nom assignatura</label>
						</dt>
						<dd>
							<input type="text" class="form-control" id="nom-assignatura" value="{{ assignatura.nom }}">
						</dd>
					</dl>
					<dl class="form-group">
						<dt>
							<label class="form-label" for="curs-assignatura">Curs</label>
						</dt>
						<dd>
							<select class="form-control" id="curs-assignatura">
								<option>2017/2018</option>
							</select>
						</dd>
					</dl>
					<dl class="form-group">
						<dt>
							<label class="form-label" for="bio-assignatura">Bio</label>
						</dt>
						<dd>
							<textarea class="form-control" id="bio-assignatura" rows="3">
								{{ assignatura.bio }}
							</textarea>
						</dd>
					</dl>
					<br>

					<div class="mt-3">
						<h2>Eliminar assignatura</h2>
						<hr>
						<p class="text-normal">Un cop s'ha eliminat l'assignatura, no es pot tornar enrere. Si us plau estigui segur.</p>
						<button 
						type="button" 
						class="btn btn-danger float-left"
						routerLink="/assignatures/{{ id }}/edit" 
						routerLinkActive="active">
						Eliminar
						</button>
					</div> -->

					


				</div>
			</div>
		</div>
	</div>
</div>